.link {
    color: #c4cfde;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: 300ms;
}

.active {
    font-weight: 800;
    color: #000;
    transition-duration: 300ms;
}

.link:hover {
    cursor: pointer;
    color: #ff014f;
    transition-duration: 300ms;
}

/* Loading Component */

.image-loading {
    width: 250px;
}