.link {
    color: #c4cfde;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: 300ms;
}

.active {
    font-weight: 800;
    color: #000;
    transition-duration: 300ms;
}

.link:hover {
    cursor: pointer;
    color: #ff014f;
    transition-duration: 300ms;
}

/* Loading Component */

.image-loading {
    width: 250px;
}

.modal-container {
    position: relative;
    max-width: 95vh;
    max-height: 95vh;
}

.desc {
    top: -5px !important;
}

.modal-exit {
    position: absolute;
    top: -45px;
    right: 0px;
    background-color: var(--primary-color);
    color: white !important;
    padding: 5px 10px;
    border-radius: 50%;
    width: 35px;
    transition-duration: 300ms;
}

.modal-exit:hover {
    background: #111113;
    transition-duration: 300ms;
}

.smaller-image {
    margin: 40px 0px;
    max-height: 40vh;
    max-width: 400px;
    text-align: center;
}

.achievements-image {
    margin: 40px 0px;
    max-height: 80vh;
    max-width: 500px;
    text-align: center;
}

.blurred {
    filter: blur(10px);
}

.loaded {
    filter: none;
    /* Remove the blur effect once the image is loaded */
}

/* Tabs Component */

.tabs-container {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px;
    padding: 1em 1.5em;
    background: #1B1B1B;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.active-tabs {
    background-color: var(--primary-color);
    border-radius: 2px;
    transition-duration: 400ms;
}

.inactive-tabs:hover {
    background-color: rgba(255, 1, 79, 0.35);
    border-radius: 2px;
    color: white;
    transition-duration: 400ms;
}


/* Loading Data */

.loading-v2-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.loading-v2-label {
    color: var(--primary-color);
}

.loading-v2-image-container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.image-loading-v2 {
    width: 120px;
}