@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.progress-bar {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  height: 5px;
  background: #fe4066;
  transform-origin: 0%;
}



.slick-prev:before,
.slick-next:before {
  color: #fe4066 !important;
  font-size: 40px !important;
}

.slick-prev:before {
  margin-left: -20px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fe4066 !important;
}

.ant-tabs-ink-bar {
  border: 2px solid #fe4066 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #fe4066 !important;
}


.ant-tabs-tab {
  color: #4e4e4e !important;
  font-size: 20px !important;
  width: 33.3% !important;
  padding-top: 15px !important;
}


.ant-tabs-content-holder {
  padding: 15px !important;
  border-left: 1px solid #4e4e4e !important;
  /* Border for the content part */
  border-top: transparent !important;
  /* Remove the top border so that there is no overlap*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}

@media (max-width: 1024px) {

  .image-gallery {
    width: 80% !important;
    padding: auto;
    margin: auto;
    height: auto;
  }
}

@media (max-width: 724px) {

  .image-gallery {
    width: 60% !important;
    padding: auto;
    margin: auto;
    height: auto;
  }


}

@media (max-width: 360px) {

  .image-gallery {
    display: none;
    width: 0% !important;
    padding: auto;
    margin: auto;
    height: auto;
  }

}


.react-tabs__tab--selected {
  background: #fe4066 !important;
  color: white !important;
  border-radius: 0px 0px !important;
  border-style: 6px solid white !important;
}


.react-tabs__tab--selected:focus {
  border-style: none !important;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #212224 !important
}

.vertical-timeline-element-icon svg {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  background: #fe4066 !important;
}

.vertical-timeline-element-content:hover {
  position: relative;
  margin-left: 60px;
  background: #fe4066 !important;
  cursor: pointer !important;
  transition-duration: 0.5s !important;
  border-radius: .25em;
  padding: 1em;
  box-shadow: 0 3px 0 #ddd;
}


@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }

  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }

  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 300px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 2px 15px 0px #fe4066;
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: white;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 0px 5px 0px white;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
  background: #3b5998;
  box-shadow: 0 10px 10px -10px #3b5998;
}

.floating-container .float-element:nth-child(2) {
  background: #171515;
  box-shadow: 0 10px 10px -10px #171515;
}

.floating-container .float-element:nth-child(3) {
  background: #0A66C2;
  box-shadow: 0 10px 10px -10px #0A66C2;
}